.card-list {
  display: flex;
  gap: 32px;
  margin: 50px auto;
  justify-content: center;
  flex-wrap: wrap;
}

.card-list__item {
  background-color: white;
  display: inline-flex;
  box-shadow: 0 4px 18px #8383836b;
  border-radius: 12px;
  padding: 32px 24px;
  flex-direction: column;
  align-items: end;
  color: #838383;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
}

.card-list__top {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  font-size: 32px;
  font-weight: 300;
  letter-spacing: 2px;
}

.card-list__star {
  border-radius: 100px;
  width: 56px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-list__require {
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: end;
  font-size: 24px;
  font-weight: 500;
}

.card-list__require-list {
  display: flex;
  flex-direction: column;
  align-items: end;

}

.card-list__require-item {
  display: flex;
  gap: 14px;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  text-align: end;
}

.card-list__require-item::after {
  content: '';
  display: block;
  width: 9px;
  height: 9px;
  border-radius: 100px;
  border: 2px solid #838383;
}

.card-list__annual {
  font-size: 14px;
  font-weight: 400;
  padding-top: 18px;
  margin-top: auto;
}

.card-list__item--active {
  background: #3FE197;
  color: white;
}


.card-list__item--active .card-list__star {
  background-color: #2EAE77;
}

.card-list__item #star-svg {
  stroke: #58A5EF;
}

.card-list__item--active #star-svg {
  stroke: #ffffff;
}

.card-list__item--active .card-list__require-item::after {
  content: url(/img/check.svg);
  width: 20px;
  height: 20px;
  border: none;
}